@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
body {
    font-family: "Tahoma", sans-serif;
}
ul {
      list-style: none;
      padding-left: 0;
}
.centered-content {
    margin: 0 auto;
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs {
    display: flex;
}
.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}
.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}
.tab-text {
    display: none;
    text-align: justify;
}
.tab-text.active {
    display: block;
}